<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dataAnalysis.mapper.DataCountByRegionMapper">
    <resultMap id="BaseResultMap" type="cn.dataAnalysis.model.DataCountByRegion">
        <id property="id" column="id"/>
        <id property="regionCode" column="region_code"/>
        <id property="regionName" column="region_name"/>
        <id property="number" column="number"/>
        <id property="averageTotalPrice" column="average_total_price"/>
        <id property="averagePerPrice" column="average_per_price"/>
        <id property="captureTime" column="capture_time"/>
        <id property="attentionNumber" column="attention_number"/>
    </resultMap>
    <!--插入新数据-->
    <insert id="insert" parameterType="cn.dataAnalysis.model.DataCountByDate" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO data_count_by_region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="regionCode != null">
                region_code,
            </if>
            <if test="regionName != null">
                region_name
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="averageTotalPrice != null">
                average_total_price,
            </if>
            <if test="averagePerPrice != null">
                average_per_price,
            </if>
            <if test="captureTime != null">
                capture_time,
            </if>
            <if test="attentionNumber != null">
                attention_number
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="regionCode != null">
                #{regionCode},
            </if>
            <if test="regionName != null">
                #{regionName},
            </if>
            <if test="number != null">
                #{number},
            </if>
            <if test="averageTotalPrice != null">
                #{average_total_price},
            </if>
            <if test="averagePerPrice != null">
                #{average_per_price},
            </if>
            <if test="captureTime != null">
                #{capture_time},
            </if>
            <if test="attentionNumber != null">
                #{attention_number}
            </if>
        </trim>
    </insert>
    <select id="getByParams" parameterType="map" resultMap="BaseResultMap">
        SELECT * FROM data_count_by_region
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="regionName != null">
                AND region_name = #{regionName}
            </if>
            <if test="regionCode != null">
                AND region_code = #{regionCode}
            </if>
            <!--<if test="averageTotalPrice != null">
                AND average_total_price = #{averageTotalPrice}
            </if>-->
            <if test="beginDateStr != null">
                AND capture_time  <![CDATA[ >= ]]> #{beginDateStr}
            </if>
            <if test="endDateStr">
                AND capture_time <![CDATA[ <= ]]> #{endDateStr}
            </if>
        </where>
        <if test="begin != null and rows != null">
            limit #{begin},#{rows};
        </if>
    </select>
</mapper>