<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dataAnalysis.mapper.SecondhandhouseNewMapper">

    <resultMap id="SecondhandhouseNewMap" type="SecondhandhouseNew">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="communityName" column="community_name" />
        <result property="roomType" column="room_type" />
        <result property="area" column="area" />
        <result property="regionName" column="region_name" />
        <result property="comprehensiveInformation" column="comprehensive_information" />
        <result property="orientation" column="orientation" />
        <result property="highLowArea" column="high_low_area" />
        <result property="constructionYear" column="construction_year" />
        <result property="trafficLocation" column="traffic_location" />
        <result property="totalPrice" column="total_price" />
        <result property="averagePrice" column="average_price" />
        <result property="attentionNumber" column="attention_number" />
    	<result property="captureTime" column="capture_time" />
    	<result property="originalId" column="original_id" />
    </resultMap>
    
    <insert id="insert" parameterType="cn.dataAnalysis.model.SecondhandhouseNew" useGeneratedKeys="true" keyProperty="id">
    	insert into secondhandhouse_new
    	<trim prefix="(" suffix=")" suffixOverrides=",">
	    	<if test="id != null">
	    		id,
	    	</if>
	    	<if test="title != null">
	    		title,
	    	</if>
	    	<if test="communityName != null">
	    		community_name,
	    	</if>
	    	<if test="roomType != null">
	    		room_type,
	    	</if>
	    	<if test="area != null">
	    		area,
	    	</if>
	    	<if test="regionName != null">
	    		region_name,
	    	</if>
	    	<if test="comprehensiveInformation != null">
	    		comprehensive_information,
	    	</if>
	    	<if test="orientation != null">
	    		orientation,
	    	</if>
	    	<if test="highLowArea != null">
	    		high_low_area,
	    	</if>
	    	<if test="constructionYear != null">
	    		construction_year,
	    	</if>
	    	<if test="trafficLocation != null">
	    		traffic_location,
	    	</if>
	    	<if test="totalPrice != null">
	    		total_price,
	    	</if>
	    	<if test="averagePrice != null">
	    		average_price,
	    	</if>
	    	<if test="attentionNumber != null">
	    		attention_number,
	    	</if>
	    	<if test="captureTime != null">
	    		capture_time,
	    	</if>
	    	<if test="originalId != null">
	    		original_id
	    	</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides=",">
    		<if test="id != null">
	    		#{id},
	    	</if>
	    	<if test="title != null">
	    		#{title},
	    	</if>
	    	<if test="communityName != null">
	    		#{communityName},
	    	</if>
	    	<if test="roomType != null">
	    		#{roomType},
	    	</if>
	    	<if test="area != null">
	    		#{area},
	    	</if>
	    	<if test="regionName != null">
	    		#{regionName},
	    	</if>
	    	<if test="comprehensiveInformation != null">
	    		#{comprehensiveInformation},
	    	</if>
	    	<if test="orientation != null">
	    		#{orientation},
	    	</if>
	    	<if test="highLowArea != null">
	    		#{highLowArea},
	    	</if>
	    	<if test="constructionYear != null">
	    		#{constructionYear},
	    	</if>
	    	<if test="trafficLocation != null">
	    		#{trafficLocation},
	    	</if>
	    	<if test="totalPrice != null">
	    		#{totalPrice},
	    	</if>
	    	<if test="averagePrice != null">
	    		#{averagePrice},
	    	</if>
	    	<if test="attentionNumber != null">
	    		#{attentionNumber},
	    	</if>
	    	<if test="captureTime != null">
	    		#{captureTime},
	    	</if>
	    	<if test="originalId != null">
	    		#{originalId}
	    	</if>
    	</trim>
    </insert>
    
</mapper> 