<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dataAnalysis.mapper.ShCommunityInfoMapper">
    <resultMap id="BaseResultMap" type="cn.dataAnalysis.model.ShCommunityInfo">
        <id property="id" column="id"/>
        <id property="name" column="name"/>
        <id property="coordinateLng" column="coordinate_lng"/>
        <id property="coordinateLat" column="coordinate_lat"/>
    </resultMap>
    <!--插入新数据-->
    <!--`id` int(10) NOT NULL AUTO_INCREMENT COMMENT '小区ID',
    `name` varchar(100) DEFAULT NULL COMMENT '小区名',
    `coordinate_lng` varchar(50) DEFAULT NULL COMMENT '经度',
    `coordinate_lat` varchar(50) DEFAULT NULL COMMENT '纬度',-->
    <insert id="insert" parameterType="cn.dataAnalysis.model.ShCommunityInfo" useGeneratedKeys="true" keyProperty="id">
        insert into sh_community_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="coordinateLng != null">
                coordinate_lng,
            </if>
            <if test="coordinateLat != null">
                coordinate_lat
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="coordinateLng != null">
                #{coordinateLng},
            </if>
            <if test="coordinateLat != null">
                #{coordinateLat}
            </if>
        </trim>
    </insert>

    <!--根据参数获取集合-->
    <select id="getByParams" resultMap="BaseResultMap" parameterType="map">
        SELECT id,name,coordinate_lng,coordinate_lat FROM sh_community_info
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="coordinateLng != null">
                AND coordinate_lng = #{coordinateLng}
            </if>
            <if test="coordinateLat !=null ">
                AND coordinate_lat = #{coordinateLat}
            </if>
        </where>
        <if test="begin != null and rows != null" >
            limit #{begin},#{rows};
        </if>
    </select>
    <select id="getCountByParams" parameterType="map" resultType="int">
        SELECT count(1) FROM sh_community_info
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="coordinateLng != null">
                AND coordinate_lng = #{coordinateLng}
            </if>
            <if test="coordinateLat !=null ">
                AND coordinate_lat = #{coordinateLat}
            </if>
        </where>
    </select>

    <!--根据id主键更新数据-->
    <update id="updateByPrimaryKey" parameterType="cn.dataAnalysis.model.ShCommunityInfo">
        UPDATE sh_community_info
        <set>
            <!--<if test="id != null">
                id = #{id},
            </if>-->
            <if test="name != null">
                name = #{name},
            </if>
            <if test="coordinateLng != null">
                coordinate_lng = #{coordinateLng},
            </if>
            <if test="coordinateLat != null">
                coordinate_lat = #{coordinateLat}
            </if>
        </set>
        WHERE id = #{id};
    </update>

    <!--根据ID检索实体-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM sh_community_info
        WHERE id = #{id};
    </select>
</mapper>